.cbw-popups-list {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax( 250px, 1fr ) );
	grid-gap: 40px;
	&-wrap {
		padding: 40px;
		margin: 0 -40px;
		background: #F4F4F5;
		border-top: 3px solid #007CBA;
	}
}

.cbw-import-progress {
	&__status {
		font-size: 15px;
		padding: 5px 0 0 0;
	}
}

.cbw-import-popup {
	p.cbw-import-popup__text {
		line-height: 21px;
		padding-top: 5px;
	}
}

.cbw-popups__clear-cache {
	padding: 22px 0 0 0;
	margin: 0 0 -15px;
}

.cbw-popups-filters {
	padding: 10px 0 25px;
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		cursor: pointer;
		background: #EDF6FA;
		border-radius: 4px;
		padding: 5px 10px 5px 5px;
		margin: 0 5px 5px 0;
		display: flex;
		align-items: center;
		color: #7B7E81;
		font-size: 13px;
		&:hover {
			color: #007CBA;
		}
		&-check {
			width: 22px;
			height: 22px;
			background: #FFFFFF;
			border: 1px solid currentColor;
			box-sizing: border-box;
			border-radius: 1px;
			margin: 0 6px 0 0;
			display: flex;
			justify-content: center;
			align-items: center;
			.cbw-popups-filters__item-active & {
				background: #007CBA;
				border-color: #007CBA;
			}
		}
	}
}

.cbw-popup {
	justify-self: stretch;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0px 12px 6px rgba(35, 40, 45, 0.07);
	position: relative;
	.cbw-popup-preview {
		position: absolute;
		left: -15px;
		top: -15px;
		right: -15px;
		border-radius: 4px;
		background: #fff;
		box-shadow: 0px 12px 6px rgba(35, 40, 45, 0.07);
		z-index: 999;
	}
	&__thumb {
		max-width: 100%;
		width: 100%;
		height: auto;
		position: absolute;
		left: 0;
		top: 0;
		&-wrap {
			width: 100%;
			padding-top: 75%;
			position: relative;
			overflow: hidden;
			border-radius: 4px 4px 0 0;
			border-bottom: 1px solid $color__border-in-panel;
		}
	}
	&__choices {
		padding: 0 0 15px;
		.cx-vui-component {
			padding: 0;
			&__control {
				width: 100%;
				flex: 0 0 100%;
			}
			.cx-vui-radiogroup {
				display: flex;
				justify-content: space-between;
			}
			.cx-vui-radio {
				font-size: 15px;
				margin: 0;
				&__mark {
					margin: 0 6px 0 0;
					border-color: $color__accent;
				}
			}
		}
	}
	&__content {
		padding: 14px 20px 14px;
		.cbw-popup-preview & {
			padding: 25px 20px 30px;
		}
	}
	&__name {
		font-weight: 500;
		font-size: 15px;
		line-height: 23px;
		color: $color__heading;
		padding: 0;
		.cbw-popup-preview & {
			padding: 0 0 12px;
		}
	}
	&__actions {
		display: flex;
		flex-wrap: wrap;
		.cx-vui-button {
			width: 100%;
			+ .cx-vui-button {
				margin: 14px 0 0 0;
			}
		}
	}
}

.cbw-uploader {
	background: #fff;
	box-shadow: 0px 2px 6px rgba(35, 40, 45, 0.07);
	border-radius: 4px;
	padding: 42px;
	&__inner {
		border: 1px dashed $color__accent-border;
		min-height: 460px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		cursor: pointer;
		position: relative;
		.cbw-uploader--active & {
			background: $color__accent-lighter;
		}
		input[type="file"] {
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
		}
	}
	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		color: $color__heading;
		padding: 22px 0 5px;
	}
	&__desc {
		font-size: 15px;
		line-height: 140%;
		padding: 0 0 20px;
	}
}

.cbw-uploaded-popup {
	margin: 0;
	background: #fff;
	box-shadow: 0px 2px 6px rgba(35, 40, 45, 0.07);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 5% 0;
	&__thumb {
		width: 100%;
		height: auto;
		border: 1px solid $color__border-in-panel;
		border-radius: 4px;
		&-wrap {
			max-width: 306px;
			margin: 0 0 24px;
		}
	}
	&__content {
		width: 306px;
	}
	&__name {
		font-weight: 500;
		font-size: 15px;
		line-height: 23px;
		color: $color__heading;
		padding: 0 0 12px;
		text-align: center;
	}
	&__actions {
		display: flex;
		justify-content: space-between;
		.cx-vui-button {
			width: calc( 50% - 5px );
		}
	}
	&__cnacel {
		padding: 20px 0 0 0;
		&-link {
			font-weight: 500;
			font-size: 13px;
			line-height: 19px;
			text-align: center;
			color: $color__error;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			svg {
				margin: 0 5px 0 0;
			}
		}
	}
}

.cbw-popup-import {
	.cx-vui-tabs__nav-item {
		display: none;
	}
}

.cbw-popup-select,
.import-template-page {
	.cx-vui-tabs {
		&__content {
			border-top: 3px solid $color__accent;
		}
		&__nav-item {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

.fade-in-enter-active {
	transition: all 100ms ease;
}
.fade-in-leave-active {
	transition: all 100ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-in-enter, .fade-in-leave-to {
	transform: scale(0.9) !important;
	opacity: 0;
}

.cbw-license-miss-message {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5em;
	color: $color__heading;
	padding: 0 0 15px;
}

.cbw-license-miss-actions {
	display: flex;
	justify-content: space-between;
	a {
		width: 47%;
	}
}
