.cbw-body {
	width: 1100px;
	max-width: 80%;
	margin: 40px auto 0;
	display: flex;
	font-family: $font_family;
	color: $color__text;
	&.panel-wide {
		width: 90%;
		max-width: 90%;
	}
	p {
		font-size: 15px;
		line-height: 23px;
		margin: 0;
		padding: 10px 0 20px;
	}
	&__content {
		padding: 40px;
		flex: 1 1 auto;
		box-sizing: border-box;
		.vertical-flex & {
			display: flex;
			flex-direction: column;
			max-width: calc( 100% - 270px );
		}
	}
	&__cover {
		flex: 0 0 270px;
		background: #F0F2FF;
		&-img {
			width: 100%;
			height: auto;
		}
	}
	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 37px;
		color: $color__heading;
		border-bottom: 1px solid $color__border-in-panel;
		padding: 0 0 10px;
		margin: 0 0 20px;
	}
	.cx-vui-component--vertical-layout {
		padding: 0;
		flex-direction: column;
		.cx-vui-component__label {
			padding: 0 0 5px;
		}
		input.cx-vui-input {
			padding: 11px 15px;
		}
	}
	.cx-vui-button {
		&__content {
			svg {
				margin: 0 7px 0 0;
			}
			span + svg {
				margin: -1px 0 0 7px;
			}
		}
	}
	.cx-vui-tabs {
		margin: 0 -40px;
	}
}

.cbw-block {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__bottom {
		padding: 25px 0 0 0;
		&.buttons-group {
			display: flex;
			justify-content: space-between;
		}
	}
	&__error-message {
		color: $color__error;
		font-size: 13px;
		line-height: 20px;
		padding: 5px 0 0 0;
	}
}