@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap');

.cbw-body {
	max-width: 1670px;
	margin: 40px 40px 40px 20px;
	min-height: calc( 100vh - 112px );
	display: flex;
	flex-direction: column;
	font-family: $font_family;
	color: $color__text;
	&.panel-wide {
		width: 90%;
		max-width: 90%;
	}
	p {
		font-size: 15px;
		line-height: 23px;
		margin: 0;
		padding: 0 0 20px;
		&.cbw-indent-top {
			padding-top: 25px;
		}
	}
	&__content {
		padding: 30px 40px 40px;
		flex: 1 1 auto;
		box-sizing: border-box;
		.welcome-page & {
			padding: 0;
			background: $color__bg-input;
			border-radius: 0 0 6px 6px;
		}
		.onboarding-page & {
			padding: 0;
			border-radius: 6px;
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}
		.vertical-flex & {
			display: flex;
			flex-direction: column;
		}
		.theme-page &,
		.plugins-page & {
			display: flex;
			flex-direction: column;
		}
	}
	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 37px;
		color: $color__heading;
	}
	&__subtitle {
		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		padding: 0 0 6px;
		color: $color__heading;
	}
	.cx-vui-component--vertical-layout {
		padding: 0;
		flex-direction: column;
		.cx-vui-component__label {
			padding: 0 0 5px;
		}
		input.cx-vui-input {
			padding: 11px 15px;
		}
	}
	.cx-vui-button {
		&--size-default {
			padding: 10px 25px 11px;
		}
		&__content {
			svg {
				margin: -1px 7px 0 0;
			}
			span + svg {
				margin: -1px 0 0 7px;
			}
		}
	}
	.cx-vui-tabs {
		margin: 0 -40px 35px;
	}
	&__back {
		margin: 0 0 20px;
	}
}

.cbw-footer {
	padding: 40px 0 0;
	display: flex;
	align-items: flex-start;
	.cbw-install-plugins & {
		padding: 20px 0 0;
	}
	.cx-vui-button {
		+ .cx-vui-button {
			margin: 0 0 0 10px;
		}
		&.cx-vui-button--style-accent {
			margin-bottom: -1px;
		}
	}
}

.cbw-header {
	background: linear-gradient( 90deg, #5B77E7 0%, #49B5D2 53.65%, #26E8A8 100% );
	border-radius: 6px 6px 0 0;
	width: 100%;
	&__bg {
		background-position: right top;
		background-repeat: no-repeat;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAdYAAACuCAMAAAC8wtxwAAAB0VBMVEUAAABQpddOotdNmOZQpddOo9dmhPVO/cFN/8NN/8NO/8JM/8RO/8RPudFN4clO1ctN/MNPo9BJ/r5Qu9JQxs1I+79jgfRngvZM/sJNpNZN+MRN88ZQoNhJ9sJM68ZOvdBM6MhL/7xN/8RK29hO+8JNjdhNntdN6MhjhfZQ+8ZdiP5N/sNO/sNVef9N+8VKwtVL/8JI+8FM/8JPjthC2NBQstRO2swz6cRN/8JRsOVOzc5M9sU268VK4cpN8cY24chN+sRN/sNQsdROsNQ2bds98cNIzc9L/cNPjthC9sNB8sQ35cdN9sky6MVPjto88sM678JI+sNH+sNN28pMys5O/8hM/sRA5chK/MJB4ss53Mo878U56Mc068NI+8ND98NE98RB8sVK/MQ+88M37cRPjthN9sVK+8NA9MM75chOqdcy6cM78cNG+cNC6shN7cdQj9dN/sM46cVJ+8NOjdhMp9RK/MM57sRM/sNNttFN5MhN8MdE7cdPjdhO/sM27cNPjtg68MNG+cNE98My6sM37sNI+sM98sM07MNB9sNJ+8M068NK/MNA9MNL/cM78cM+88M478Mz68NC98Mw6cNF+cMu6MMs5sM478Q/9MNH+sRkVqUMAAAAfnRSTlMAM1IKZoAZgGZZQDMNOUxcXxAZZj8QFg9OcGBZICBhV1EGXxVbYUJmE0MHv4ADYzY5LibCUjZH4lMnZmPEX2aMZUdmVATgQ9/f4aOZLNSEf0CQf2ZZE899cG9v06nw7+/Qw59g8dA48PCLU/Hwv4xWIO+3r6NUv3C/VihWmr/F0ztAAAAcNUlEQVR42uzcjVtTVRwH8EOrebehsRVw027BsAJqjhHFTNJmKolkWilgKkmKmmXvWT4FMeRlsMGA6MH+2n7ne869d+yOcZj3wnzal8seYS88zz7P99yzc++VFaZhX3EamId5+blyeZm5ln/TMuvr69Pr08gcctXfydTzyRwlPzdFWVmhbWNlZoY2yqTfz1QTOuyz8vZfMm/7yqVNi7Ad5X/BykWncQPTTaynmHoG5hCuOgVVMgXqZI11L1j/laYW69r04zzPF/4YU88NeoZo6wpFFHWSUGdqrHvBSqLo6zpUhWsOrHd2xHoaz5mDKnV1A6yUWlv3hhVltVHXKJl8nsvGd8Bq5B/TF7GucNcZhHe1xro3rGfTHHNdkErXTA4Z2gFrSw5ZNgfgSaqrQL05VGPdfVbj4A2YIiQ6nVnLZITrjU6mnIEcnrQ8syGnvzJ9I0f9NdZdZkX88aEvOSmhAtbKnTammsY7eEZuxgpMh7hpjXVvWCnxobOARVWtPGCq+SqD5FdmNggUqL134/TCNda9Ym3yI3+YRc1ZrGfV99CZzBp9LVNNgUoZsVCbfDXW3WeN+dr9lJ41opGuuTVqLmVYtaxkSslsmHtVujW72k6oNVZlVtdl70BVwsJ1erSRqcSgEZw/fJk4ZwTqTK9tWmPdI1bIDghRkWmRi2rT4Gkkg6rKnKPBtznGWI1171iRC4WsGUCtTx9k22eYHsi/lgtU52kMpqbWWPeclY0Sp2R9nKOFp/X0eno0wbZLgj+QMm1OlubnJ+c/phE4VmOtBtZPYIrQ6mFa5KzBysfoT1NoYXlZrhXOk+v8FRqDWY21Glj5mgKqCtc1eSS2P1G+q6PSP8dRwUrhE6bmGqvHrJcnJpb6FeoK0zzf6AZYs/Q9XG6/ep0egrqCVKouXlEfgyN6VNOSwfoC1teRWybrLfHzNqyRYMB6HWdaB/FnEvzuxoI4WbXCu6ua1SDVpaWgQl1zIJVJz4qkx4ytnvATHkAPXN8QpkBFWduZSlp1TQ8NDhJJiFGCOpd67a8SeW0L1rDWzV+ni17n4cMQXseZ+kA01d3dHQwEDPoj+1QTrGrWi0tL2Wz2okpdcUQOB8Tn5oTrAn33N5RE/fQ6VOkhaUt1cZFYeVl9Sqr0PgudcS0YuRTSBn1wVVRFUoHuS5FAVL5OqJRrfTQpWlwf1ILqrsHqHIQTBrr6Vn82u7CwcP3TBDCMsnUFKljJlcQWFgDX32A4UG+DHHWdgumibGuvX3XC1BVoM3UMGkOjIR8CVwVVJNyhaZpuvc6gZrDiBAKtTKY7wOCqqFqFrIkfJsaM4G+8qgIn/W2w8dPR0USZuuYfS1bpumDn1wb7iYnhX+07sukVMQFe5KaUPtWy1qOdZtpAU9L1JV/ZtIV9djqSrCjdWvEeN6iqWn2spMpDqEI1zTNKiwxlXE+DlJsiy3OzC1nQidvbl38dGxv76fLtLH4hk56xVMH6aLFHsazd0S2lzheqnvftIIZ2iW1OSmfFCaqpVh+rwVXR1CxQzTPR1qYzWy71fpUHaV6iLpPrdHa7ZOReFaZgXe1TKitmSCquUFUP5lCFSYbYjl2hWoWsjT/wpi5RUWmT5xdS+Hr+WWPrslIsVSQzy/tOr0Q3+Jf4XqKf+C9nl2E6uUioq7StPlql7x6mxtrhU3AVquo5XMwaSDAVV6dqFbKyffS2Y8ZDwToQmkrJ3T+1RVm5aF6YCtapKdoyC0tFmViSyeYEKpoqu8rTx5TSlfSVc61MNeyYMyW7WImkyqimmFJes6d0u8OKuprjLyLOPsuR6p14U2nX0xAF6Bw35dsUTy5LkHybgCluaUvnZjABBiqqSl19hFxQ27dq4fKuUN1hBh0TpC6dlYq+parOqpf1oOwqTHnMY+SPz/ibSpfVYpWuVlby6ezE5mQzy/Y+Fa6ri4RKm3pdW6PBgpaFQobDVUU1PDg+WDCJDjhQIlqk4IdtXKFaxayXybRQFSeKZvgH0xv+pthWZYUnDcEYfuWNOPl3Ljc9u7AE0fRaTn6mwfEaIl1cxD5VRL2uCfsTTkiLRrVkuMhVQbUtoNGX9TrjKGtRXaPm71pTWvm+QtUd1rrXHXmmLOszzifUOd4xroqZ0roYf+U6Pv8Ic7R567Iuy0zZWUFw+lnB2aJwxeQXVQUsyvo3z49MKSFtHEUz9GiCrwaN+3acZLKV1XdpHW0w1ovnwcBMBsRvI4FAhJVzhapLrOGXnnvSvBR2rBgWNHWgJ94zANTH+Ew6FCvNiq7aO1UEoLj4YgOgBZHD7yr/4qZAlawnOplSEgFN7+hIavol1OrwjlXDGqC65euAzZmQFkgFaeU51brdERyNucMKV7dVgxevAxUXN4qTAIdQVRTy9AOj1BKTqepsKjpqXyxlm4KVIk2BClUs9aukvjulp7okRkiZ1Xlgrjuo68HIln9mMKUHQxFHj7Vi1Va3WOHqrup1VPVfVHVtwC9yNQ9VgdZXyhWoYhMxTTH+yrbaqjI0VUIs1Eek6sfVseopyxoOpQ7rqUGXj7c6XaHqGitc3VRlZGrNf9d6JOv7cs8JrhnmjO++bKpUxeXHcAWpHexS+beYLG1WRVcpza6xhqJHDrW0HKIB1k1WpytUXWSFq4uqjJtClZ8jGufvcWes8yGpcjEx/SnF6r8PU5m+0+KR5ghc2FTpag6/9070clRrBHaVdVxreaeOsv+QZrjPCldb1VVWuLqnClaoctYeeTzlghxbOdXkZIw50wxXiUpPGzktUe3M880s6rxYfrh2gq61udILVFVVddZB7UCdTEu0zWVWuA5L1eFG5jIrXF1TZd+uC1N8qBmQb/EATMU1xZO9/vaSrneFPKEiI71oatHsFzeY/xLrPUKlcFiHqhusgZY6M+8cCXrAyhqHTVXXWeHqiipiDJ0lVKjm8yOYvTwQqhz15jmuxrZwtVEB+wUGYKusJIquQlU0FZGw/5iqbrEa2ot1Vg5EPWCFK1Q9YIWrK6qI/z6RUnCkbeCCcQFdxZ4Sp9yDtbTrjxZqOy67ip/rtVTto2/8k+q1q9ZDm5qbAHtFqrrGGjpSZ2e/FnGfFa5Q9YIVrq6ogjVusoqlI1FVeeX/ma1Y4WqhUsl9hMVlR3rnEawp8ZAqKm+iMuuxUHWPdfzgJlbDfVa4NkDVC1a4uqTK2v03UFWY2qio3MeCgpVzBSqzse7yiZJsqjhU01uIaj8Wql6xvugNK+IZK1xdUEVi76KpknWFIlDJ5QqXILUyrkCVwYWScWKVH2vk8sNQEaqEhaqLrA+1d2zWM1r4qWQlVxdUEcNGparKlT8uc+3oNm99c7F5jHacffOyqOaSfhym5kNtWB9zlTUcPWCzHtJ9TycrXN1QZQP2TtWsqvhc8ogmq6fYDhN7MC8HX/qirPKRvHTl3WNFxo/sN1Xf1SJPKytcXVA1RFGhKq8SJ1QsCt072l7BpAILEHg+MoS98y6whpOHzQnTkXHfU8tKri6ossQ3UJWLSjPUVAra9ve9eCUDZR+OqFqu8gJWj1kBF31XLjIFfE8xK1yfUBWuZHrTPKgmzuClkOqZimr2FY6pmumTF095zIqk5DpTQ6hqWM9/hFis4sfziq6Vq8L1m7tHR77A/Bfr8o/6euJXSbWyyWrjNUKFKz/0dsW6eMp7Vr36WNnPfznzs3pfK1dlsTjW9c6cuznJq9p7AnPXOKlWtld8UHD8rdc5Bns/CH+nVw8rXBVUFV3VVdkpc9XnHAbgc347TRWNn+1+OwpjcFfQmS7bIFLi/mS0w5nowXfkYsSRgPPelKaX+DP1zMxg8X3euEJV2VVd9c2JTXnTdKXvHuxV4wWqp1gl8RWYKozBgWOvOKMlzGJqJe49ph1y5LsDXBXZ33LIGe34G44cj15iIinH3W6xhm9tUr0FlUpdoarECtemZr5IdI1UP5ZLgrFmqFYU1N+Mb1vW559x5vloqzx4XfLeg3U7zX7thWedeUNniKGdLL6LeeEK1cpdoarMymIMus3wMP+jpBhUn7SuTbGKWD/URI8i2i9esr6nMSR03HEX88AVqpW7QlWR1bl838y8ijrr13KGY3jL+oI8f6XLQ1a42qqVu0K1EtZOpTmO16yA0+p3YxD+LMCQiGeDMPL9R1D96HvGKneFakWsrEnMcdTz1oTM0kR/wj3WD7UQEwl98Lt3rO9ZV83px71khStUK3eFqjrrk6UfpLRR9rnHeizJzOiveMZ68oOQ/b+BfOYdK1yhWrkrVHeLNSibusRz2zXWzzEEi9Rrn3vFiiFYJqR5xwrXP6FaqStUd411jKNCNUtb0C3W93VmR3/fK9bjicKLLd8rYq2KwFWq7h5rP0hJFLl4yiXWYyFmp+uYV6yb1hOTn1UjK1yF6u6x6nL8zZIrbbebvWANecV6chOrXp2scIXq7rGOESlYobqw0OIWa1dhW1/xrK3GU8BKrlDdRdYfQApW/A9AA50e7FuT3u1bu1jBzKwq961wfRaqu8XauE8WlXpKqpTbB9xhfbVgeDS0V71ifQ8Lz+by4clqZUU8Ym3Ui09w/w2otKGqyOzs9Z+KTpC+cLFRmdXOK4F6s0WB/9i7H5+2qigO4E9dltuWtgSKEGp/gCSYOQoj0mG7dhUEwpaFH4OZ6dRtmujm3BKXmSyakbbQrnSVdgM29td67rm/XvsKvVWeme37UkDTN6J+PI/77nv33JR90xFp+S+1CcXahawDS8+WRg0ZN5jS1JHCi+a7uyF1HCzeuj3QPut80hXiXRyS8/axzmV4S9ILMBvRhawDN+BYCdu7JFF3AZW5FmRy0AuTo+Yh6Nr2HZwUGZryTA2R8H0754Tn0mTI45kaJdfPdCErqiLs+ZDhvsHmH1h262tVbLb9OEQr9SDPXbVZVSKpcDLsh9+rtrFiEuPpdDoxd6YLWVFVwN7AOq1TBVKRnMxt02avja4j8IjJ1HSPZNWLlXUmHo1G497jKAP07UXFekL+n6znn7XMeS1V0cfQjCqjUHEXFYEKLRSVK+usnkmlwoTfpRn9x6y+WCacCmewuYA13iDJwMMrZDiOxJ3ICq6nooqo6jrV7JorvJWs2JNCFSvE5NrjymzcB5v7fkIHLBfIfNusERKnbBk//uLdSI41cQ3E0gg5d51Eve/NRNNnOpAVXE+rVtFUkDY7/TJQtTMzrndflq5DyXk53iWzo0QVq378JDlGwurnBK21OiwdE+nYWCzT35Gs6KqvqrImRMXsb9MTsNk0l5fBHSNLGHGJOG2uzg3/RqRtU5Tc8EfM1RtoZI2aphfmEgm4Ku1MVnTVVlVxy1JVVzWNqjkJe4AN2UTQlG3iu2y6z3b6CVvKNdYA2bGs6KqtqvKpLFV1VSMGwNAquHx4+BqyX35TzVNVyYqbgMotQW/CszRihHT68ccaVANkrltYwVVfVcUtR7/0YxcngJnp3vbr+mzvlYAVIl25amVZrvyAKd7TzwZpYF0kZ7qGFVz1VVXERCGfVeI5qEGVWrNVoqDwgqhtmSs3ZXdD+gyLDaxdXK3gqq+q4qamjZNKtUbPw9eHh/QLwIJoHkzzolRLUKyyWl12nIRTYw2sM6S/i1jBVVtV5ff66Qf4LB5CUBIjSOEFvvtZgIWIUoU8VKs2PJkn5hFtm37N/+R80vdeQ4LjZqO5DmcFV31VVa5oairVw5MDBVsSpUpdlyfVosoR05jJnyF49dm+aZiQ5IYq1mGvZTbCdKctkSGZ653NCq66qio36uYfcmWut394ePHq14tseWzq6jXlul0pSVfIN+YlViHiZ/V6P0WmQiFX8kn7qsmxeCBKUvPs5/jJ4nuW+ITrXDrmC8R7xzubVbrqq4b4RGEBVQ+29w/3IYf7v2CDNJXJWxfxDXibu1Z46rYdA0l/JBLxZ1x9WL0b7Y+QsKvLYm8yhT8nFkdIi2s60d+fGCdBLxtDdTYruOqrYh7DJY28+5Z/uc+julMq2Mv8PXQVm6hXq9/UrdfqoVvjEpdn5F/ewfFGewkhMZ91Rpi/HYO3g/HOvYNjcW1H1c1QwRTytgxklO3apOiO9sGXbB3lucFPAPYaU90voyiiQm5ONNya60HTk1ifwvzg0xNYMTPepqbqbfhyMmt/ItE/1xGs6KqtavyOv1YLLHvbLFfPNuuONgFd7y7TrhHwWROqdJuOhXZvo0fCJAa1GI7YeRsdR1OjLkKuz3UCK7jqq4bMd8qrvIvLZUsbQ9XOEFwxe0eAihu9QlbbXQgZDABGIGrzQkji6YFTx7Qr098JrMZ5bVXjrmlWP7+FWzky1U8mjKYZ/Ars4aNcrVJWtnnkHX1WVPXJgY/fPtbrsneEOzPXCaz6GfgJSEWyZcy9k5tCTNzbfknbWdaqNEWWj9tgnc+gKiaaeWIXa79p66rZ8e5iHS6ovc3zbKuii626wExcwk79W0WT61darFa2mZjfLtbxL8z7BvZ3Fetjifo2l32OmUTVkxL6Fg/MFtEUc+ecPms4agKJhu1ihWJVeTcXQtqWnwQqFOsW5vLZ1h1pV9ihwCn3j/xIn7VuitfX3Svm7Imbq9KnHypIpdXwbuBHPDYrtmUG1ofvHutml7K6736HqCxZujHDzi2tFj8rbAtB066g2QdXou/wSdjVLSdh9xqaStX8DmZSqxXiADsYz79893T4snBltQWr9RmW4f9kyLTZHUOmC+toiqg8Jeg5XKt9o9mP61KNsqIqooosrLRmvW+6wPGRefsucPrUOTjdFRc4Sxz1bU6mWqO5qtm3dAV7/2eBFU1lajWN6YgN+YRowM7piHHXiGz00h3TEU2e6S7WKEtKs3neKiLWkSK0BiskLOCGU3ZOHqY9ci16R0wets+aP2BCi5rbbQxwSVasCvXNjg7rUxLgxTpvJ2tiVKxF74ip/tbhpm9Nyy/YuEe7JfiDvcZqrWUB9c3Oh4MarSw56yJ5395WlgZmqntYc6xW2TPdOcpK80C7gekCHq9M5fbpZ8+2Zo2QANeI2FqtLj5AzHQLq+nsm8cc4MXKwtlzuqxFzqpQoVSbsKYi1sjFUsFkxJrUcMCaGZOh9d04SfRbksh4xHNz443vGR0ZtVI1L1KkeXD2S21WGjPrTnNW0iRBrxB6RHSjdlsmmhn1yMtWyz+F0ZERqKYFcEUMmOgFpw2rSJplqDW2JXMja9Rriaw8lLUk6uqxxiMuiuKjfT16MUwZaXyvI4OouboVNewu26TufdoiHk5Bs2DKswVpZBVVph+fy2iSWT7lOOY2nBwTXqqmvKpQp6OUoZfVKmPNomqNodrK6uasvdOGk2OCqCZWuk6qQvOnoZeVoyN4lmlP/kp9g6jwumgXq4uzBp1qPTbry3nJKhY0IusdQy938OisGP6CJ6L+eG/RJlYP8cp9Pg0nxyV6ZVmuPqa1KhIydBKC/wvgYLMqmOIyAHtYe9RI+BFM9To5JvCfP3Xle4BFVFTCrBg6WcNjq6i6haw/3kJTu1hdQdPjTx7DyXGsmIfY/cGcnwd0inUZ/tir0h6abmEQFfOhDaybJGB6f9RwckzYHlafvzI1gHiF0SnXdXZoFoZKIEphv5Wog1/awHohVrcKskMvO08l56jsHYEKKWH3gO9DrYsVhllw7BH+VmX5zbS6wwZWj3ma2OsMmlrJflWqKNg85lejVW7nMVlqyl1vClOH9V3IAHjKlA7y9G7OWqtTMBwER1ZUrT7/9nPsCWIb6zSZMfd5cYbCWhegmGrl6ACnFHPrLVRz4JrL12C8xFW3buFIyT7WkVHTj4kOGU5aZBVJjygqrJXKYU50XefHFMUgmK8EGLST1fDgCnVMnDjTh62zXJErVY+q+Zaua/yICpIiavn5JVyLZSfriGuYuwZiU4aTlvmBFitUK0uuwLIUaj4G/rVQwEPyrFSfAyusnvsMz8H2sWJDWxINeL2BIHHmhLVyu4pryiFF+AA0lnUr7MD6d3wl1kGNlSrWaple3QzayYqZdhHIkDMK1r3HJlQh4Apy+Fq6Ww/rXoO1sLv4Xm7HrFqeBNaJFqz4qMoJluK5FsVqzWZfnzMGbqNcMUBapa6FXZkba0MXsExDvWtLuyIvmCqIso9ruNvvyazxIIEMR71NTWd8MQIZiwtWJ/86oQU0lcukinm+TQq2FuZ/zZsM45cSogIrqr4sb38mL1qtGQpStiBx9/WMbHrYwMfay3vUsznS0+cmyP7IuYA5hawoVL5UqlKQ+1XhN/wuUtijplvs9Auo0Gvi0gmPofaRP+K+mKuPD3xmwdWqOjvCD3YN++JBZxLpNILFKlXxIdHiAW7EyzrS8l7D7G92Szv8qgY+UbUMXV8+mzCOdx1yQestdaESVJ7WG6g97lnXF47qKeQHMypTpbA5ts8ybsxAX/jlBaCKoRIEvkBnGGC9ZGinz9J4P+BUpw1Z4KjMFD4EbKnwrD6FikTFSoUXoGJWDe2MxpWoM0KyJVisjBQHS6Aqguscjw4Ku38B6IsXuXwRz774AaiY7fLLbXBtr1y/iCKmM8VrY7BYq6JPQL0qRD3+C598+LtVfo6FykXh2z60y9Mv1yELqzNtdOqJFjGNqrikkbGq51rE8BdrFUxloLnlVUM3s75GVuckfOoZ+Lu983dtG4jiuCBg9MMWprRycBZZZBCCqrKwpAoSgqF4aU27lcbxlq1DIGsGLeqkoWAy5M+t7ulOd0RVKcQU+/V9MAaDtg/vdPrK7x3cWplU8MrF1lJ59wVzKku1pmqc1h/V6joPtL9jSFumf8GbzU/Gs/X3h6CQlSq0wj5pJ5WC1f6YaWaZy1hZg7tdjmPl5hqby0/0T6U9eYUOZNl8LG6rT+17cogKm/gBbqstwmpvzjQ0QvdOPxWqIn3UjYN1S1x8qp/djQ3y+nKCHLxyNkqtFk+FUqoVRBBlBfuk3TorH5Va7X+FY06TOkcaG/EMoonfTmhP9WYAvOVN6xU6oeapfeDkG1GpF4vBu3vR0iidArBX4ovvur7uKntUrfp/3CElrq4bhsfGCPccxuoZBhvgTg+ye8PPN2C1lspYXMj+CzVTapff7HoAXGcdq/0v5pKVbaej/ikBqZ2uEson9uwVpMozNG7lTqnghVrtGqvyOhCbCasveI1OsRNn717l4Sg++8q/3d/y3S/AlFbM6de8vc5h35fcKmk9RPxWVqC9nQyAxRb2v4zaKQx7B4fyOhALVknrYeILWYyg+XVTFBAqNVulqvw+EDgn4kCGxippPVR8kCqASlwwofCwyijLG1mpABfraKT1cHneQXMycbbwTFOJpPASnEKhKgQaaT0uPrIluM2Usp7MgbQeGV9Klv4Kr9BnQ1oRsK2UVH9RFytpxcBn+KuSXIMD0oqBeSZf1FyxNZi0oiAYqExIKxIcVWtAWpEwGUgcjbQi4YNSrhPSSpBWzJBWlBjhuMO5LRWOu4Sk9eCZW11Mz+VWXS+yusw14hh5xadnjWgWDyZm4tQqmoeGCdGxsaJZo5iIeMdGQqOzEBHrKQ26Q8fQcGUXpEd3VyTE4UgZvE9PM0g4fVCblpcagQLDpqQQIaQVJe9dmvOCkChUtE7pyRUJQz2VjeiUM6EhCkVT+ms6WAwRpm6PYIwwTWhHhaXrZw/noUdZBC6GcWRGMQWHBEEQ/yW/AAo/U+YqaLL4AAAAAElFTkSuQmCC');
	}
	&__content {
		padding: 38px 40px 33px;
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		color: #fff;
	}
	&__title {
		font-size: 18px;
		line-height: 20px;
		letter-spacing: 0.005em;
		margin: 0 0 0 15px;
	}
	&__logo {
		a {
			outline: none;
			box-shadow: none;
		}
	}
}

.cbw-block {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__bottom {
		padding: 25px 0 0 0;
		&.buttons-group {
			display: flex;
			justify-content: space-between;
		}
	}
	&__success-message {
		color: $color__success;
		font-size: 13px;
		line-height: 20px;
		padding: 5px 0 0 0;
		margin: 0 0 -10px;
	}
	&__error-message {
		color: $color__error;
		font-size: 13px;
		line-height: 20px;
		padding: 5px 0 0 0;
		margin: 0 0 -10px;
	}
}

.cx-vui-component--fields-group.cx-vui-component {
	width: 100%;
	border-bottom: 1px solid $color__border-in-panel;
	padding: 20px 0;
	.cx-vui-component {
		&__meta {
			flex: 0 0 300px;
		}
		&__control {
			flex: 1 1 auto;
			margin: 0;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.include-switcher {
				flex: 0 0 15%;
				box-sizing: border-box;
				padding: 0 0 0 20px;
			}
			.source-select {
				flex: 0 0 35%;
				padding: 0 20px;
				box-sizing: border-box;
			}
			.zip-url {
				flex: 0 0 50%;
				box-sizing: border-box;
			}
		}
	}
}

.cbw-video-popup {
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9999;
	align-items: center;
	justify-content: center;
	&__overlay {
		background: #fff;
		opacity: 0.7;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
	}
	&__body {
		z-index: 2;
		background: #212121;
		box-shadow: 0px 4px 20px rgba(35, 40, 45, 0.24);
	}
}
