.cbw-progress {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 15px;
	&__bar {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		position: relative;
		&-dot {
			width: 14px;
			height: 14px;
			flex: 0 0 14px;
			border-radius: 100%;
			background: $color__accent-light;
			&--done {
				background: $color__accent;
				box-shadow: 0px 1px 4px rgba( 35, 40, 45, 0.24 );
			}
		}
	}
	&__value {
		flex: 0 0 60px;
		max-width: 60px;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		color: $color__accent;
		text-align: right;
	}
}

.cbw-progress-alt {
	&__bar {
		width: 100%;
	}
	&__done {
		height: 14px;
		border-radius: 7px;
		min-width: 14px;
		max-width: 100%;
		background: $color__accent;
		box-shadow: 0px 1px 4px rgba(35, 40, 45, 0.24);
		.cbw-progress-alt--complete & {
			background: $color__success;
		}
	}
}